* {
    margin: 0;
    padding: 0;
}
body > div {
    margin: 20px;
}

.cell {
    border: 1px solid;
    padding: 20px;
}

.row {
    display: flex;
}

.ship {
    background-color: #492af7;
}

.successful-attack {
    background-color: #ff6c6c;
}

.missed-attack {
    background-color: #777777;
}